

.logo-inicio {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #68D8DF;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-menu a {
  font-size: 1.2rem;
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

.header-menu a:hover {
  color: #fff;
}

.fotos{
  margin-top: -20px;
  width: 100%;
}

@media (max-width: 600px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}